.dashboard-grid,
.features-grid {
    display: grid;
    gap: 20px;
}

.features-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 30px;
}

@media (max-width: 400px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}
